@use "../abstracts/mixins";

.main {
  @include mixins.container;
  padding-inline: 1.5rem;
  padding-bottom: 5.3125rem;
}
.main:not([data-state="busy"]) {
  .busy {
    display: none;
  }
}
.main:not([data-state="error"]) {
  .error {
    display: none;
  }
}
.main:not([data-state="keyword"]) {
  .keyword {
    display: none;
  }
}

#search-result {
  font-family: monospace;
  font-size: 1rem;
}
