.btn {
  background-color: transparent;
  border: 0;
  padding: 1.25rem;
  user-select: none;
  cursor: pointer;
}

.btn--icon {
}
.btn--icon:focus-visible {
  outline-color: var(--theme-select-focus);
}
